/* 引入 .ttf 格式的自定义字体 */
@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/MaShanZheng-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 应用自定义字体到整个页面 */
body {
    font-family: 'MyCustomFont', sans-serif;
}

/* 如果有其他需要应用字体的地方，可以继续添加 */
h1, h2, h3 {
    font-family: 'MyCustomFont', serif;
}

/* 使用 rem 单位 */
body {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.4rem;
}

p {
    font-size: 1.2rem;
}